{% extends 'layouts/main.html' %}
{% block title %}Vehicle Search{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ vehicle.model }} ({{ vehicle.brand }})
		</h1>
		<p class="subtitle">
			<button class="edit-button", id="edit-button", data-id="{{ vehicle.id }}", onclick="location.href='/vehicles/{{ vehicle.id }}/edit'">Edit vehicle</button> 
			<button class="delete-button", id="delete-button", data-id="{{ vehicle.id }}">Delete vehicle</button>
		</p>
		<p>
			<i class="fas fa-globe-americas"></i> {{ vehicle.brand }}
		</p>
		<p>
			<i class="fas fa-map-marker"></i> {{ vehicle.model }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {{ vehicle.num_doors }}
		</p>
		<p>
			<i class="fas fa-moon"></i> {{ vehicle.vehicle_type.title() }}
		</p>
	</div>
</div>
<script>
	const btn = document.getElementById('delete-button');
	btn.onclick = function(e) {
		console.log('event', e)
		const vehicle_id = e.target.dataset['id'];
		console.log('event', e)
		fetch('/vehicles/' + vehicle_id, {
			method: 'DELETE'
		})
		.then(function(response){
			return response.json();
		})
		.then(function(jsonResponse){
			if (jsonResponse['success']){
				window.location.href = '/';
			}	
		})
	}

</script>

{% endblock %}

