{% extends 'layouts/main.html' %}
{% block title %}{{ user.name }} | User{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ user.name }}
		</h1>
		<p class="subtitle">
			ID: {{ user.id }} <button class="edit-button" id = "edit-button", data-id="{{ user.id }}" onclick="location.href = '/users/{{ user.id }}/edit'">Edit User</button> 
			
		</p>
		<div class="genres">
			<p class="subtitle">Licence(s):</p>
			{% for licence in user.licences %}
			<span class="genre">{{ licence }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ user.enrolment_time }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {{ user.level }}
        </p>
		<p>
			<i class="fas fa-phone-alt"></i> {{ user.phone }}
        </p>
	</div>
	<div class="col-sm-6">
		<img src="https://i.ibb.co/zVxNYZj/index.jpg" alt="User Image" />
	</div>
</div>


{% endblock %}