{% extends 'layouts/main.html' %}
{% block title %}Edit Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/vehicles/{{vehicle.id}}/edit">
      <h3 class="form-heading">Edit venue <em>{{ vehicle.id }}</em> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label>Brand & Model</label>
        <div class="form-inline">
          <div class="form-group">
            {{ form.brand(class_ = 'form-control', placeholder='Brand', autofocus = true, value = vehicle.brand) }}
          </div>
          <div class="form-group">
            {{ form.model(class_ = 'form-control', placeholder='Model', autofocus = true, value = vehicle.model) }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Year</label>
        <div class="form-group">
          {{ form.year(class_ = 'form-control', placeholder='Year', autofocus = true, value = vehicle.year) }}
        </div>
      <div>
      <div class="form-group">
        <label>Vehicle type {{vehicle.vtype}}</label>
        <div class="form-group">
          {{ form.vtype(class_ = 'form-control', placeholder='Type', autofocus = true, value = vehicle.vtype) }}
        </div>
      <div>
      <div class="form-group">
        <label>Licence</label>
        <div class="form-group">
          {{ form.licence(class_ = 'form-control', placeholder='Licence required', autofocus = true, value = vehicle.licence) }}
        </div>
      <div>
      <div class="form-group">
        <label>Power</label>
        <div class="form-group">
          {{ form.power(class_ = 'form-control', placeholder='Power', autofocus = true, value = vehicle.power) }}
        </div>
      <div>
      <div class="form-group">
        <label>Transmission</label>
        <div class="form-group">
          {{ form.transmission(class_ = 'form-control', placeholder='Transmission', autofocus = true, value = vehicle.transmission) }}
        </div>
      <div>
        <input type="submit" value="Edit Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}